@tailwind base;
@tailwind components;
@tailwind utilities;

.inter {
  font-family: var(--font-inter);
}

.raleway {
  font-family: var(--font-raleway);
}

.dm-sans {
  font-family: var(--font-dm-sans);
}
