@tailwind base;
@tailwind components;
@tailwind utilities;

.inter {
  font-family: var(--font-inter);
}

.raleway {
  font-family: var(--font-raleway);
}

.dm-sans {
  font-family: var(--font-dm-sans);
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  background-image: url("/caret-down-solid.svg");
  background-repeat: no-repeat;
  background-position: right;
}
